@font-face{
    font-family: GOW;
    src: url(GODOFWAR.TTF);
}
body{
    padding: 40px;
    background-color: darkslategray;   
    background-image: url(https://img.freepik.com/fotos-premium/fondo-mazmorra-pixel-art-juegos-8-bits_334978-2389.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    padding: 20px;
}

.titulo-footer{
    font-family: GOW;
}
#text-acerca{
    font-family: GOW;
}

.redes a{
    color: white;
    display: block;
    text-decoration: none;
    font-family: GOW;
}
#blooger{
    width: 40px;
    height: 40px;

}
 footer *{
    color: white;
 }
 .text-footer{
    font-family: GOW;
 }