@font-face {
    font-family: GOW;
    src: url(GODOFWAR.TTF);
}

body{
    padding: 40px;
    background-color: darkslategray;   
    background-image: url(https://img.freepik.com/fotos-premium/fondo-mazmorra-pixel-art-juegos-8-bits_334978-2389.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.banner{
    position: relative;
}

#imgbanner{
    height: 50%;
    width: 100%;
    border-radius: 60px;
}

.textbanner{
    position: absolute;
    text-align: center;
    top: 20%;
}


h1{
    font-family: GOW;
    font-size: 50px;
}

#logo{
    border-radius: 40px;
}

.carousel{
    margin: auto;
}