@font-face {
    font-family: GOW;
    src: url(GODOFWAR.TTF);
}

#logo{
    width: 40px;
    margin-left: 20px;
}
nav{
    margin-top: 20px;
    border-radius: 20px;
}


.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: GOW;
}
.nav-item >a:hover{
    text-shadow: 2px 2px red;
}
#lista{
    position: relative;
}

#sublista{
    position: absolute;
    left: 70px;
}

#barranav{
margin-left: auto;
margin-right: auto;
width: 80%;
}
