
.container{
    max-width: 900px;
    padding:0px;
}


[class^=col]{
    float: left;
    padding: 10px;
    width: 100%;
    
}

div img{
    width: 80%;
    border-radius: 40px;
    margin: 0px 0px 0px 0px;
    
}
img:hover{
    transform:scale(1.025);
    box-shadow: 10px 10px #3b3636cb;
}





